# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm settings
.idea/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env